{
  "presets": [
    "next/babel",
    "stage-0"
  ],
  "plugins": [
    "transform-runtime",
    ["import",{"libraryName": "antd","style": "css"}],
    [
      "css-modules-transform",
      {
        "extensions": [
          ".css",
          ".less"
        ],
        "generateScopedName": "[local]",
        "extractCss": "./static/css/style.css"
      }
    ]
  ]
}